@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Open+Sans&display=swap");

:root {
  --header-font: "Epilogue";
  --backup-header-font: sans-serif;
  --body-font: "Open Sans";
  --backup-body-font: sans-serif;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  display: grid;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  grid-template-areas:
    "messages messages messages"
    "form search search"
    "form actionHistory actionHistory";
  grid-template-columns: minmax(min-content, auto) 3fr;
  grid-template-rows: minmax(min-content, auto) 1fr 250px;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

h1 {
  font-family: var(--header-font), var(--backup-header-font), sans-serif;
  font-weight: 900;
}

main > div {
  border: 1px solid black;
  padding: 0px 10px 10px 20px;
}

main > .provider-list {
  grid-area: search;
  overflow: hidden;
  min-height: 500px;
}

main > .action-history {
  grid-area: actionHistory;
}

main > .form {
  grid-area: form;
  padding: 0 20px;
}

body {
  font-size: 16px;
  font-family: var(--body-font), var(--backup-body-font), sans-serif;
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 10px;
}

input,
select {
  height: 44px;
  min-width: 44px;
  font-size: 16px;
  font-family: var(--body-font), var(--backup-body-font), sans-serif;
}

select {
  padding-right: 5px;
}

input:focus,
input:active {
  outline: none;
}

.error-messages {
  width: auto;
}

.error-messages ul {
  text-align: left;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.error-messages ul li {
  background-color: hsl(11, 100%, 96%);
  padding: 10px;
}

.action-history {
  overflow: hidden;
}

.action-history ol {
  max-height: 137px;
  overflow-y: scroll;
  list-style-type: none;
  background-color: grey;
  text-align: left;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
}

.action-history ol li {
  background-color: hsl(0, 0%, 83%);
  padding: 10px;
}

.action-history ol li:nth-child(2n) {
  background-color: hsl(0, 0%, 91%);
}

.action-history ol li .undo-button {
  text-align: right;
}

.action-history {
}

.search-container > h1 {
  display: inline-block;
  margin-right: 30px;
}

label > div {
  font-family: var(--header-font), var(--backup-header-font), sans-serif;
}

input[type="submit"],
input[type="button"],
.action-button {
  padding: 10px;
  width: fit-content;
}

input[type="radio"] {
  height: 22px;
}

.sort-direction {
  margin-top: -10px;
}

.button-container {
  display: flex;
  column-gap: 10px;
}

.required-field {
  line-height: 1.6;
}

.required-field::after {
  content: "*";
  color: red;
}

.error-messages ul {
  list-style-type: none;
  color: red;
}

.provider-list .search-container .provider-button {
  vertical-align: super;
}

.provider-list .results {
  display: inline-block;
  margin-top: 5px;
}

.provider-list .provider-table-heading {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 10% 10% 30% 14% 20% 16%;
}

.provider-list .search-results-container {
  display: grid;
  grid-template-columns: 10% 10% 31% 14% 20% 15%;
  overflow-y: scroll;
  overflow-x: unset;
  min-height: 130px;
  max-height: 340px;
}

.provider-list .search-results-container > .cell {
  background-color: hsl(0, 0%, 83%);
  padding: 10px;
}

.provider-list .search-container {
  max-height: 500px;
}

.provider-list .search-container .search-bar-container {
  display: flex;
  column-gap: 10px;
}

.provider-list .search-header {
  padding: 0;
  margin-bottom: 0;
}

.provider-list .search-container .search {
  margin-bottom: 10px;
  flex: 3;
}

.undo-button {
  margin-left: 10px;
}

.provider-list .cell {
  border-radius: 0;
  background-color: hsl(0, 0%, 80%);
}

.provider-list .cell:nth-child(12n - 3),
.provider-list .cell:nth-child(12n - 2),
.provider-list .cell:nth-child(12n - 1),
.provider-list .cell:nth-child(12n),
.provider-list .cell:nth-child(12n - 4),
.provider-list .cell:nth-child(12n - 5) {
  background-color: hsl(0, 0%, 91%);
}

.provider-list .cell > p {
  word-break: break-word;
}

.provider-list .table-header {
  font-family: var(--header-font), var(--backup-header-font), sans-serif;
  font-weight: bold;
  color: white;
  background-color: hsl(0, 0%, 29%);
  padding: 10px;
  height: 80px;
}

.provider-list .sort-by-label {
  position: relative;
  margin-top: -26px;
}

.provider-list .action-button {
  white-space: nowrap;
  text-align: left;
  min-width: 85px;
  max-width: 85px;
  display: block;
}

.provider-list .action-button:nth-child(1) {
  margin: 10px 0;
}

.provider-list .action-button:nth-last-child(1) {
  margin: 0 0 10px 0;
}

.success-message {
  grid-area: messages;
  border-color: #c3e6cb;
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
}

input.provider-button {
  margin-left: 10px;
  margin-bottom: 40px;
}

@media (max-width: 1226px) {
  main {
    grid-template-areas:
      "messages"
      "form"
      "search"
      "actionHistory";
    grid-template-columns: 0.985fr;
    grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) 640px 250px;
    column-gap: 10px;
    row-gap: 10px;
  }

  .provider-list .search-results-container > .cell {
    padding: 0 10px;
  }

  .provider-list .provider-table-heading {
    display: grid;
    background-color: hsl(0, 0%, 29%);
  }

  .provider-list {
    min-height: 730px;
  }

  .action-history {
    min-height: min-content;
  }

  main > .form {
    padding-bottom: 30px;
  }

  input.provider-button {
    margin-left: 10px;
    margin-top: -10px;
  }
}
@media (max-width: 904px) {
  .search-container > h1 {
    margin-right: 8px;
  }
  input.provider-button {
    margin-left: 1px;
    padding: 5px 2px;
  }
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    max-height: unset;
    padding: 5px 25px 0 10px;
  }

  main > div {
    border: 0;
  }

  form {
    flex-direction: column;
    column-gap: 10px;
  }

  input {
    max-width: 100%;
  }

  .table-header {
    display: none;
  }

  .provider-list .cell:nth-child(n)::before {
    font-size: 1.2em;
    font-weight: bold;
    font-family: var(--header-font), var(--backup-header-font), sans-serif;
  }

  .provider-list .cell:nth-child(6n - 2)::before {
    content: "Speciality: ";
  }

  .provider-list .cell:nth-child(6n - 1)::before {
    content: "Practice Name";
  }

  .provider-list .cell:nth-child(6n - 3)::before {
    content: "Email Address";
  }

  .provider-list .cell:nth-child(6n + 1)::before {
    content: "First Name";
  }

  .provider-list .cell:nth-child(6n + 1) {
    padding-top: 20px;
  }

  .provider-list .cell:nth-child(6n + 2)::before {
    content: "Last Name";
  }

  .provider-list .search-results-container {
    display: grid;
    grid-template-columns: 1fr;
    overflow: visible;
    overflow-y: scroll;
  }

  main > .provider-list {
    grid-area: search;
    min-height: 850px;
  }

  .provider-list .search-results-container {
    min-height: 510px;
    max-height: 510px;
  }

  .provider-list .action-button:nth-child(1) {
    margin: 0 10px 0 0;
  }

  .provider-list .action-button:nth-last-child(1) {
    margin: 0 0 20px 0;
  }

  .provider-list .action-button {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    margin: 10px;
  }

  input.provider-button {
    display: block;
    margin-bottom: 20px;
    margin-top: -10px;
    width: 100%;
    margin-left: 0;
  }

  input.provider-button:nth-child(4) {
    margin-bottom: 50px;
  }
}
